
<div id="nosotrosDIV" class="container my-5">
    <div class="row text-center mb-4">
      <h2 class="fw-bold text-success border-bottom pb-3">"La gestión agrícola inteligente se basa en tomar decisiones precisas: aplicando la solución adecuada, 
        en el momento exacto, en el lugar correcto y de la manera más eficiente posible."</h2>
        <br>
        <h4 class="fw-bold">Tecnologías inteligentes para maximizar el rendimiento agrícola.</h4>
  
        <h4 class="fw-bold">Todo lo que necesitas, accesible desde una única plataforma.</h4>
    </div>
  
    <div class="row text-center mb-4">
      <h2 class="fw-bold text-success border-bottom pb-3">Soluciones que ofrecemos</h2>
    </div>
    
    <div class="container my-5">
      <div class="row">
        <!-- Primer artículo -->
        <div class="col-md-4 mb-4">
          <div class="h-100">
            <div class="card-text">
              <h3 class="card-title">Análisis con Machine Learning</h3>
              <br>
            </div>
            <div class="d-flex justify-content-center">
              <img src="../../assets/img/Imagen1Nosotros.png" alt="Imagen de pedidos rápidos" class="card-img-top img-fluid">
            </div>
          </div>
        </div>
        
        <!-- Segundo artículo -->
        <div class="col-md-4 mb-4">
          <div class="h-100">
            <div class="card-text">
              <h3 class="card-title">Big Data para Toma de Decisiones</h3>
              <br>
            </div>
            <div class="d-flex justify-content-center">
              <img src="../../assets/img/imagen2Nosotros.png" alt="Imagen de pedidos rápidos" class="card-img-top img-fluid">
            </div>
          </div>
        </div>
    
        <!-- Tercer artículo -->
        <div class="col-md-4 mb-4">
          <div class="h-100">
            <div class="card-text">
              <h3 class="card-title ">Agricultura Sostenible</h3>
              <br>
            </div>
            <div class="d-flex justify-content-center">
              <img src="../../assets/img/imagen3Nosotros.jpeg" alt="Imagen de pedidos rápidos" class="card-img-top img-fluid">
            </div>
          </div>
  
        </div>
      </div>
    </div>
    
    
  </div>