<!--Color azul a utilizar #0953b4-->
<body>




<section>
<div id="nosotrosDIV" class=" my-5">
    <div class="justify-content-center text-center mb-5 pt-5 pl-5 pr-5">
      <div class="contnedorverde ">
        <h2 class="fw-bold ">Plataforma de apoyo especializada para ingenieros, ofreciendo soluciones técnicas y profesionales 
          en diferentes ramas de la ingeniería (sistemas computacionales, arquitectónica, civil, aeronáutica y mecatrónica).</h2>
        <br>
      </div>
      <div class="pt-5">
        <h4 class="fw-bold">Ingenieros epecializados para maximizar el rendimiento.</h4>
  
        <h4 class="fw-bold">Todo lo que necesitas, accesible desde una única plataforma.</h4>
      </div>

    </div>
  
    <div class="row text-center mb-4">
      <h2 class="textoh fw-bold  border-bottom pb-3 ">Soluciones que ofrecemos</h2>
    </div>
    
    <div class="container my-5">
      <div class="row">
        <!-- Primer artículo -->
        <div class="col-md-4 mb-4">
          <div class="h-100">
            <div class="card-text">
              <h3 class="textoh2 card-title fw-bold">Asesoría técnica especializada</h3>
              <br>
            </div>
            <div class="d-flex justify-content-center">
              <img src="../../assets/img/Asesoria_tecnica.jpg" alt="Imagen de pedidos rápidos" class="card-img-top img-fluid">
            </div>
          </div>
        </div>
        
        <!-- Segundo artículo -->
        <div class="col-md-4 mb-4">
          <div class="h-100">
            <div class="card-text">
              <h3 class="textoh2 card-title fw-bold">Optimización de procesos de construcción y diseño estructural</h3>
              <br>
            </div>
            <div class="d-flex justify-content-center">
              <img src="../../assets/img/optimizacion-procesos.webp" alt="Imagen de pedidos rápidos" class="card-img-top img-fluid">
            </div>
          </div>
        </div>
    
        <!-- Tercer artículo -->
        <div class="col-md-4 mb-4">
          <div class="h-100">
            <div class="card-text">
              <h3 class="textoh2 card-title fw-bold">Desarrollo de software y automatización</h3>
              <br>
            </div>
            <div class="d-flex justify-content-center">
              <img src="../../assets/img/Desarrollo_software.png" alt="Imagen de pedidos rápidos" class="card-img-top img-fluid">
            </div>
          </div>
  
        </div>
      </div>
    </div>
    
  </div>
  </section>




  <section class="pt-5">
    <div class="container my-5">
        <div class="row text-center mb-4 border-bottom">
            <h2 class="textoh fw-bold pb-3">Soluciones mas accesibles en comunidades y consultas personalizadas</h2>
            <br>
        </div>

        <div class="container my-5 border-bottom">
            <div class="row justify-content-between">
                <!-- Primer artículo -->
                <div class="col-md-2 custom-col mb-4">
                    <div class="h-100">
                        <div class="card-text">
                            <h3 class="textoh2 card-title fw-bold">Ingeniería industrial</h3>
                            <br>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/img/ingenieriaindustrial.jpg" alt="Imagen de pedidos rápidos" class="card-img-top2 img-fluid">
                        </div>
                        <div class="container pt-5 justify-content-center fw-bold">
                            <p>Coordinación y análisis de datos compartidos para maximizar el rendimiento.</p>
                        </div>
                    </div>
                </div>

                <!-- Segundo artículo -->
                <div class="col-md-2 custom-col mb-4">
                    <div class="h-100">
                        <div class="card-text">
                            <h3 class="textoh2 card-title fw-bold">Ingeniería de software</h3>
                            <br>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/img/ingenieriasoftware.jpg" alt="Imagen de pedidos rápidos" class="card-img-top2 img-fluid">
                        </div>
                        <div class="container pt-5 justify-content-center fw-bold">
                            <p>Herramientas especializadas para asesorar y tomar decisiones basadas en datos.</p>
                        </div>
                    </div>
                </div>

                <!-- Tercer artículo -->
                <div class="col-md-2 custom-col mb-4">
                    <div class="h-100">
                        <div class="card-text">
                            <h3 class="textoh2 card-title fw-bold">Ingeniería mecánica</h3>
                            <br>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/img/ingenieriamecanicaa.jpg" alt="Imagen de pedidos rápidos" class="card-img-top2 img-fluid">
                        </div>
                        <div class="container pt-5 justify-content-center fw-bold">
                            <p>Tecnologías que mejoran el control de calidad y la trazabilidad.</p>
                        </div>
                    </div>
                </div>

                <!-- Cuarto artículo -->
                <div class="col-md-2 custom-col mb-4">
                    <div class="h-100">
                        <div class="card-text">
                            <h3 class="textoh2 card-title fw-bold">Ingeniería electrónica</h3>
                            <br>
                        </div>
                        <div class="d-flex justify-content-center ">
                            <img src="../../assets/img/ingenieroelectronico.jpg" alt="Imagen de pedidos rápidos" class="card-img-top2 img-fluid">
                        </div>
                        <div class="container pt-5 justify-content-center fw-bold">
                            <p>Gestión inteligente de la cadena de suministro y logística.</p>
                        </div>
                    </div>
                </div>

                <!-- Quinto artículo -->
                <div class="col-md-2 custom-col mb-4">
                    <div class="h-100">
                        <div class="card-text">
                            <h3 class="textoh2 card-title fw-bold">Ingeniería Mecatronica</h3>
                            <br>
                        </div>
                        <div class="d-flex justify-content-center">

                            <img src="../../assets/img/mecatronica.jpg" alt="Imagen de pedidos rápidos" class="card-img-top2 img-fluid">


                        </div>
                        <div class="container pt-5 justify-content-center fw-bold">
                            <p>Tecnologías sostenibles para el cuidado del medio ambiente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <section id="membresias">
    
    <div  class="justify-content-center">

    
      <div class="row text-center mb-4">
        <h2 class="textoh fw-bold border-bottom pb-3">MEMBRESIAS DISPONIBLES</h2>
      </div>
      
      <div class="container my-5 pl-5 justify-content-center">
        <div class="row pl-5">
          <!-- Primera membresia -->
          <div class="col-md-4 mb-4">
            <div class="container my-5">
              <div class="card">
                
                <div class="card2">
                  <!-- Contenido -->
                  <div class="contenidomembresia fw-bold ">
                    <h4>Basica-Anual</h4>
                    <h2>$39.90</h2>
                    <br><br>

                    <div class="caracteristicas">
                      <p><i class="fas fa-check-circle"></i> Acceso a los foros.</p>

                    </div>
                    <div class="pl-5">
                      <button class="animated-button" routerLink="/crearcuenta">
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                          ></path>
                        </svg>
                          <span class="text">SUBSCRIBIRSE</span>
                          <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                          ></path>
                        </svg>
                      </button>
                    </div>
                    
                    
                  </div>
                </div>
        
              </div>
            </div>
          </div>
          
          <!-- Segunda membresia -->
          <div class="col-md-4 mb-4 justify-content-center">
            <div class="container my-5">
              <div class="card">
        
                <div class="card2">
                  <!-- Contenido -->
                  <div class="contenidomembresia fw-bold ">
                    <h4>Pro-Anual</h4>
                    <h2>$399</h2>
                    <br><br>

                    <div class="caracteristicas">
                      <p><i class="fas fa-check-circle"></i>Acceso a los foros.</p>
                      <p><i class="fas fa-check-circle"></i>Consultas gratuitas con expertos</p>
                      <p><i class="fas fa-check-circle"></i>Reportes personalizados de rendimiento.</p>
                      <p><i class="fas fa-check-circle"></i>Soporte técnico estándar.</p>
                    </div>
                    <div class="pl-5">
                      <button class="animated-button" routerLink="/crearcuenta">
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                          ></path>
                        </svg>
                          <span class="text">SUBSCRIBIRSE</span>
                          <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                          ></path>
                        </svg>
                      </button>
                    </div>
                    
                    
                  </div>
                </div>
        
              </div>
            </div>
          </div>
      
          <!-- Tercera membresia -->
          <div class="col-md-4 mb-4 justify-content-center">

              <div class="container my-5">
                <div class="card">
                  <div class="card2">
                    <!-- Contenido -->
                    <div class="contenidomembresia fw-bold ">
                      <h4>Empresarial-Anual</h4>
                      <h2>$599</h2>
<br><br>
  
                      <div class="caracteristicas">
                        <p><i class="fas fa-check-circle"></i>Acceso a los foros.</p>
                        <p><i class="fas fa-check-circle"></i>Consultas gratuitas con expertos.</p>
                        <p><i class="fas fa-check-circle"></i>Mejores equipos de consultoria.</p>
                        <p><i class="fas fa-check-circle"></i>Soporte en cualquier tipo de proyecto.</p>
                      </div>
                      <div class="pl-5">
                        <button class="animated-button" routerLink="/crearcuenta">
                          <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                            ></path>
                          </svg>
                            <span class="text">SUBSCRIBIRSE</span>
                            <span class="circle"></span>
                          <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                            ></path>
                          </svg>
                        </button>
                      </div>
                      
                      
                    </div>
                  </div>
                </div>
            </div>
    
          </div>
        </div>
      </div>
      
    </div>


  </section>

  <section id="contactodiv" class="Imagen_final d-flex flex-column align-items-center mb-4">
    <h2 class="textoh fw-bold border-bottom pb-3 mb-4 text-center">Contáctanos para cualquier duda</h2>
    <div class="form-container">
      <form class="form">
        <div class="form-group">
          <label for="email">Email de la compañía</label>
          <input type="text" id="email" name="email" required="">
        </div>
        <div class="form-group">
          <label for="textarea">¿Cómo podemos ayudarte?</label>
          <textarea name="textarea" id="textarea" rows="10" cols="50" required=""></textarea>
        </div>
        <button class="form-submit-btn" type="submit">Enviar solicitud</button>
      </form>
    </div>
  </section>
</body>