<div class="container">
    <h1 class="text-center mb-4">Servicios</h1>
    <div class="row">
      <div class="col-md-6 col-lg-6"> <!-- Ajustado para ocupar la mitad del espacio -->
        <div class="service-box">
          <h2>Servicio 1</h2>
          <p>Aquí va la información del servicio 1.</p>
          <button class="btn btn-primary" [routerLink]="['/']">Más Info</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-6"> <!-- Ajustado para ocupar la mitad del espacio -->
        <div class="service-box">
          <h2>Servicio 2</h2>
          <p>Aquí va la información del servicio 2.</p>
          <button class="btn btn-primary">Más Info</button>
        </div>
      </div>
    </div>
    <div class="row"> <!-- Nueva fila para los otros dos servicios -->
      <div class="col-md-6 col-lg-6">
        <div class="service-box">
          <h2>Servicio 3</h2>
          <p>Aquí va la información del servicio 3.</p>
          <button class="btn btn-primary">Más Info</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="service-box">
          <h2>Servicio 4</h2>
          <p>Aquí va la información del servicio 4.</p>
          <button class="btn btn-primary">Más Info</button>
        </div>
      </div>
    </div>
  </div>
  