
<head>
  <!-- Otras etiquetas en el <head> -->

  <!-- Link de Google Fonts para importar la fuente Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
</head>


<div class="container-fluid">
  <!-- Barra superior -->
  <nav class="navbar">
    <div class="d-flex justify-content-between align-items-center w-100">
      <!-- Logo y Nombre -->
      <div class="d-flex align-items-center">
        <img src="../../assets/img/KnownLogo.png" alt="Logotipo" class="navbar-logo">
        <span class="navbar-brand">Known Engineer</span> <!-- Nombre de la marca -->
      </div>

      <!-- Contenedor de búsqueda -->
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Buscar descripcion o nombre de ingeniero">
        <i class="search-icon fa fa-search"></i> <!-- Icono de búsqueda -->
      </div>
    </div>
  </nav>

  <div class="row">
    <!-- Menú lateral (ocultado) -->
    <div class="menuSide col-md-3 col-lg-2 text-white sidebar d-flex flex-column">
      <!-- Apartado de perfil del usuario -->
      <br><br>
    </div>

    <!-- Contenido principal -->
  </div>
</div>
