body {
    background-color: #f8f9fa; /* Color de fondo de la página */
}

.settings-section, .registered-cards-section {
    background-color: white; /* Fondo blanco para secciones */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
    margin-bottom: 20px; /* Espaciado entre secciones */
}

h2 {
    margin-bottom: 20px; /* Espaciado debajo del título */
    font-weight: 600; /* Peso de la fuente */
}

.card-details {
    display: flex; /* Flexbox para disposición horizontal */
    justify-content: space-between; /* Espaciado entre elementos */
    margin-bottom: 15px; /* Espaciado inferior */
}

.save-button, .remove-button {
    margin-top: 1rem;
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
}

.remove-button {
    background-color: #dc3545; /* Color de fondo rojo para botón de eliminar */
}

.remove-button:hover, .save-button:hover {
    opacity: 0.8; /* Efecto de opacidad al pasar el mouse */
}

/* Estilo para el botón de inicio */
.home-button {
    position: fixed; /* Posicionamiento fijo para que se quede en la misma posición al hacer scroll */
    top: 20px; /* Espaciado desde la parte superior */
    left: 20px; /* Espaciado desde la izquierda */
    background: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.home-button i {
    margin-right: 5px; /* Espaciado a la derecha del ícono */
}
