<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="content">
        <!-- Botón para regresar -->
        <button routerLink="/login" class="button back-button" style="--clr: #7808d0">
            <span class="button__icon-wrapper">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__icon-svg button__icon-svg--first" width="14">
                    <path d="M15 19l-7-7 7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__icon-svg button__icon-svg--second" width="14">
                    <path d="M15 19l-7-7 7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </span>
            Regresar
        </button>
<!--"-->
        <form class="form" #registerForm="ngForm" (ngSubmit)="register()">
            <p class="title">Regístrate</p>
            <p class="message">Ingrese sus datos para continuar</p>

            <div class="flex">
                <label>
                    <input required placeholder="" type="text" class="input" [(ngModel)]="name" name="name">
                    <span>Nombre</span>
                </label>
        
                <label>
                    <input required placeholder="" type="text" class="input" [(ngModel)]="surname" name="surname">
                    <span>Apellido</span>
                </label>
            </div>  
                    
            <label>
                <input required placeholder="" type="email" class="input" [(ngModel)]="email" name="email">
                <span>Nombre de usuario</span>
            </label> 
                
            <label>
                <input required placeholder="" type="password" class="input" [(ngModel)]="password" name="password">
                <span>Contraseña</span>
            </label>
            <label>
                <input required placeholder="" type="password" class="input" [(ngModel)]="confirmPassword" name="confirmPassword">
                <span>Confirmar Contraseña</span>
            </label>

            <button type="submit" class="submit">Registrarse</button>

            <p class="signin">¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>

            <!-- Mensajes de error y éxito -->
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
            <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
        </form>
    </div>
</body>
</html>
