<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="content">
            <!-- Botón para regresar -->
            <button routerLink="/inicio" class="button back-button" style="--clr: #7808d0">
               <span class="button__icon-wrapper">
                   <!-- Primera flecha, visible por defecto -->
                   <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__icon-svg button__icon-svg--first" width="14">
                       <path d="M15 19l-7-7 7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                   </svg>
                   <!-- Segunda flecha, aparece en hover -->
                   <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="button__icon-svg button__icon-svg--second" width="14">
                       <path d="M15 19l-7-7 7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                   </svg>
               </span>
               Regresar
           </button>


        
           <div class="header-container">
            <img src="../../assets/img/KnownLogo.png" alt="logo" class="logo-img" />
            <div class="text-container">
                <h1 class="title">Agro Fast</h1>
                <h2 class="subtitle">Ingresa</h2>
                <p class="description">Inicia sesión para continuar</p>
            </div>
        </div>
        <form class="form">
            <span class="input-span">
                <label for="email" class="label">Email</label>
                <input type="email" name="email" id="email" />
            </span>
            <span class="input-span">
                <label for="password" class="label">Password</label>
                <input type="password" name="password" id="password" />
            </span>
            <span class="span"><a routerLink="/recuperarcuenta">Forgot password?</a></span>
            <button type="submit" class="botton">Iniciar seccion</button>

            <span class="span">Don't have an account? <a routerLink="/crearcuenta">Sign up</a></span>
        </form>
    </div>
    </div>
    



</body>
</html>

