<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="../../assets/img/logotipo.png" alt="logo" class="logo-img" />
    
        <!-- Mueve los títulos aquí, justo después de la imagen -->
        <h1 class="title">Agro Fast</h1>
        <h2 class="subtitle">Ingresa</h2>
        <p class="description">Inicia sesión para continuar</p>
    
        <form class="form">
            <span class="input-span">
                <label for="email" class="label">Email</label>
                <input type="email" name="email" id="email" />
            </span>
            <span class="input-span">
                <label for="password" class="label">Password</label>
                <input type="password" name="password" id="password" />
            </span>
            <span class="span"><a routerLink="/recuperarcuenta">Forgot password?</a></span>
            <button type="submit" class="botton">Iniciar seccion</button>

            <span class="span">Don't have an account? <a routerLink="/crearcuenta">Sign up</a></span>
        </form>
    </div>
    


</body>
</html>

