
<div class="container-fluid">
    <!-- Barra superior -->
    <nav class="navbar">
      <div class="d-flex justify-content-between align-items-center w-100">
        <!-- Logo y Nombre -->
        <div class="d-flex align-items-center">
          <img src="../../assets/img/KnownLogo.png" alt="Logotipo" class="navbar-logo">
          <span class="navbar-brand">Known Engineer</span> <!-- Nombre de la marca -->
        </div>
  
        <!-- Contenedor de búsqueda -->
        <div class="search-container">
          <input type="text" class="search-input" placeholder="Buscar descripción o nombre de ingeniero"
                 [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()" />
          <i class="search-icon fa fa-search"></i> <!-- Icono de búsqueda -->
        </div>
      </div>
    </nav>
  
    <!-- Contenedor de maestros -->
    <div class="row">
    
    <!-- Lista de maestros filtrados -->
      <div class="col-12">
        <div *ngFor="let maestro of filteredPerfiles" class="maestro-card">
          <img [src]="maestro.foto" alt="{{ maestro.nombre }}" class="maestro-foto">
          <div class="maestro-info">
            <h3>{{ maestro.nombre }}</h3>
            <p>{{ maestro.descripcion }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  