<div class="container-fluid">
  <!-- Barra superior -->
  <nav class="navbar">
    <div class="d-flex justify-content-between align-items-center w-100">
      <div class="d-flex align-items-center">
        <button (click)="toggleSidebar()" class="menuSide toggle-btn">
          <i class="fas fa-bars"></i>
        </button>
        <img src="../../assets/img/KnownLogo.png" alt="Logotipo" class="navbar-logo">
      </div>
      
    </div>
  </nav>

  <div class="row">
    <!-- Menú lateral -->
    <div class="menuSide col-md-3 col-lg-2 text-white sidebar d-flex flex-column" [ngClass]="{'d-none': !isSidebarVisible}">
      <!-- Apartado de perfil del usuario -->
      <br>
      <br>
      
      <div class="d-flex align-items-center p-3">
        <img src="../../assets/img/Logo.png" alt="Foto de Perfil" class="rounded-circle" style="width: 50px; height: 50px;">
        <span class="ml-2 text-white">Nombre del Usuario</span>
      </div>
      
      <h4 class="pt-3 px-3">Carreras</h4>
      <ul class="list-group list-group-flush flex-grow-1">
        <li class="listaBoton">
          <button (click)="showServices('Ing.Sistemas')" class="menu-button">Ing.Sistemas</button>
        </li>
        <li class="listaBoton">
          <button (click)="showServices('Ing.mecatronica')" class="menu-button">Ing.mecatronica</button>
        </li>
        <li class="listaBoton">
          <button (click)="showServices('Ing.redes de la comunicacion')" class="menu-button">Ing.redes de la comunicación</button>
        </li>
      </ul>
    </div>

    <!-- Contenido principal -->
    <div class="col-md-9 col-lg-10 content-wrapper">
      <div *ngIf="selectedCareer">
        <h1 class="text-center mb-4 abajo">Servicios de {{ selectedCareer }}</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="service-box">
              <h2>Servicio 1</h2>
              <p>Aquí va la información del servicio 1 para {{ selectedCareer }}.</p>
              <button class="btn btn-primary">Más detalles</button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-box">
              <h2>Servicio 2</h2>
              <p>Aquí va la información del servicio 2 para {{ selectedCareer }}.</p>
              <button class="btn btn-primary">Más detalles</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
