<header class="header">
  <div class="contenedor">
    <div class="barra">
      <a class="logo" >
        <div class="logoimport">
          <img src="../../assets/img/logotipo.png" alt="logotipo" />
          <h1 class="logo__nombre no-margin centrar-texto">AgroFast</h1>
        </div>
      </a>

      <div class="navegacion-diseño">
        <nav class="navegacion d-flex justify-content-center gap-3">
          <a href="nosotros.html" class="navegacion__enlace btn">Nosotros</a>
          <a href="contacto.html" class="navegacion__enlace btn">Contacto</a>
          <a href="cursos.html" class="navegacion__enlace btn">Precios</a>
          <a href="inicioseccion.php" class="navegacion__enlace btn"
            >Iniciar sesión</a
          >
        </nav>
      </div>
    </div>
  </div>

  <div class="header-contenido d-flex">
    

    <div class="header_texto">
      <h2 class="no-margin">Optimiza la producción de manera eficiente</h2>
      <p class="no-margin">
        Mejora el rendimiento de tus cultivos con técnicas innovadoras y
        herramientas avanzadas. Cultiva más, desperdicia menos.
      </p>
      <button class="botonportada">REGÍSTRATE AHORA</button>
    </div>
 
  <div class="header-imagen">
      <img src="../../assets/img/logotipo.png" alt="Imagen de presentación" />
    </div> 
  </div>
</header>
