



<header class="header">
  <div class="contenedor">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm p-4 mb-5" style="background-color: white;">
      <a class="navbar-brand logo" href="#">
        <div class="logoimport d-flex align-items-center">
          <img src="../../assets/img/logotipo.png" alt="logo" class="logo-img" />
          <h1 class="logo__nombre no-margin centrar-texto ms-2">AgroFast</h1>
        </div>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navegacion-diseño" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link navegacion__enlace" href="#nosotrosDIV">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navegacion__enlace" href="#contactodiv">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navegacion__enlace" href="#membresias">Planes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link navegacion__enlace btoiniciarseccion " routerLink="/login">Iniciar sesión</a>
          </li>
        </ul>
      </div>
    </nav>
  

  <div class="header-contenido d-flex">
    

    <div class="header_texto">
      <h2 class="no-margin">Optimiza la producción de manera eficiente</h2>
      <p class="no-margin">
        Mejora el rendimiento de tus cultivos con técnicas innovadoras y
        herramientas avanzadas. Cultiva más, desperdicia menos.
      </p>
      <button class="botonportada">REGÍSTRATE AHORA</button>
    </div>
 
  <div class="header-imagen d-flex justify-content-center mt-3">
      <img src="../../assets/img/imagen2 (2).jpeg" alt="Imagen de presentación" class="img-fluid rounded-circle" style="width: 450px; height: 450px; margin-top: 4rem;"/>
    </div> 
  </div>
</div>

</header>
<app-body></app-body>
<app-footer></app-footer>


