<header class="header">
  <div class="contenedor">

    <div class="barra">
      <a class="logo" >
        <div class="logoimport">
          <img src="../../assets/img/logotipo.png" alt="logotipo" />
          <h1 class="logo__nombre no-margin centrar-texto">AgroFast</h1>

    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm p-4 mb-5">
      <a class="navbar-brand logo" href="#">
        <div class="logoimport d-flex align-items-center">
          <img src="../../assets/img/logo.jpg" alt="logo" class="logo-img" />
          <h1 class="logo__nombre no-margin centrar-texto ms-2">AgroFast</h1>

        </div>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navegacion-diseño" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link navegacion__enlace" href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navegacion__enlace" href="contacto.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navegacion__enlace" href="cursos.html">Precios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navegacion__enlace" href="inicioseccion.php">Iniciar sesión</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="header-contenido d-flex">
    

    <div class="header_texto">
      <h2 class="no-margin">Optimiza la producción de manera eficiente</h2>
      <p class="no-margin">
        Mejora el rendimiento de tus cultivos con técnicas innovadoras y
        herramientas avanzadas. Cultiva más, desperdicia menos.
      </p>
      <button class="botonportada">REGÍSTRATE AHORA</button>
    </div>
 
  <div class="header-imagen">

      <img src="../../assets/img/logotipo.png" alt="Imagen de presentación" />

      <img src="" alt="Imagen de presentación" />

    </div> 
  </div>
</header>


<div class="titulo">    
  <h2>Somos empresa de alto valor </h2>

<article class="entrada">
      <div class="entrada__imagen">
      <img  alt="imagen1">
      </div>

   <div class="entrada__contenido">
       <h3 class="no-margin">Pedidos rápidos</h3>
   </div>
      <p>Pedidos al instante y eficaces
      </p>
  <a  class="boton2">Leer mas</a>
  </article>
  <article class="entrada">
    <div class="entrada__imagen">
    <img  alt="imagen1">
    </div>

 <div class="entrada__contenido">
     <h3 class="no-margin">Pedidos rápidos</h3>
 </div>
    <p>Pedidos al instante y eficaces
    </p>
<a  class="boton2">Leer mas</a>
</article>

  
  
  
</div> 